$color_white: #FFFFFF;
$color_main_black: #111111;
$color_secondary_black: #666666;
$color_electric_green: #21C08B;


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Mulish',
        sans-serif;
    /*background-color: $color_electric_green*/
    background: linear-gradient($color_main_black, $color_secondary_black);
}

/* Util para clases que no se renderizan.*/
%flex-column-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    width: 100%;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    /*background-color: #8F57FD;*/
    background-color: transparent;
}

.header__img {
    width: 200px;
    margin-left: 10px;
}

.header__menu {
    margin-right: 30px;
    font-size: 1.6rem;
}

.header__menu ul {
    display: none;
    position: absolute;
    width: 100px;
    margin: 0 0 0 -14px;
    text-align: right;
    list-style: none;
}

.header__menu:hover ul,
ul:hover {
    display: block;
}

.header__menu li {
    margin: 10px 0px;
}

.header__menu li a {
    color: $color_white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.header__menu--profile {
    display: flex;
    margin-right: 8px;
    align-items: center;
    cursor: pointer;
}

.header__menu--profile img {
    width: 40px;
    height: 40px;
    margin-right: 8px;
    align-items: center;
}

.header__menu--profile p {
    color: $color_white;
}

.search {
    @extend %flex-column-center;
    height: 300px;
}

.search__title {
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: $color_white;
}

.search__input {
    height: 50px;
    width: 70%;
    padding: 0 20px;
    border: 2px solid $color_white;
    border-radius: 40px;
    color: $color_white;
    font-size: 1.6rem;
    font-family: 'Mulish',
        sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
}

.search__input:focus {
    outline: none;
}

::placeholder {
    color: $color_white;
}

.carousel__title {
    display: flex;
    align-items: center;
    margin: 80px 0 0 50px;
    font-size: 3rem;
    color: $color_white;
}

.carousel__title i {
    margin-right: 10px;
    color: #5BBFA7;
    font-size: 5rem;
}

.carousel {
    /* Todos los elementos internos se posicionan respecto a este contenedor padre. */
    position: relative;
    width: 100%;
    padding: 30px;
    overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
    background-color: $color_secondary_black;
    height: 3px;
}

.carousel::-webkit-scrollbar-thumb {
    background-color: #5BBFA7;
}

.carousel__container {
    white-space: nowrap;
    margin: 40px 20px 30px 20px;
    padding-bottom: 10px;
}

.carousel__container h2 {
    font-size: 3rem;
    margin-bottom: 30px;
    color: $color_white;
}

.carousel-item {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    border-radius: 20px;
    background-color: palevioletred;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}

.carousel-item:first-child {
    margin-left: 10px;
}

.carousel-item:hover~.carousel-item {
    transform: translate3d(100px, 0, 0);
}

.carousel-item:hover>.carousel-item__details {
    opacity: 1;
}

.carousel__container:hover .carousel-item {
    opacity: 0.3;
}

.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}

.carousel-item__img {
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.carousel-item__details {
    position: absolute;
    padding: 10px;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    color: $color_white;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    opacity: 0;
    transition: 450ms opacity;
}

.carousel-item__details--icons img {
    width: 20px;
    height: 20px;
}

.carousel-item__details--title {
    font-size: 1.4rem;
    font-weight: bold;
}

.footer {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: transparent;
}

.footer a {
    padding-left: 30px;
    font-size: 1.4rem;
    color: $color_white;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.footer a:hover img {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.footer a:nth-child(4) {
    right: 30px;
}

.footer a>img {
    width: 30px;
    height: 30px;
}

.error {
    @include flex-col-center;
    height: 70vh;
    color: $color_white;
}

.error h1 {
    font-size: 10rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}